<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>studentprofile</title>
</head>
<body>
 
    <h1 align="center"><u>Welcome {{user.get_full_name}}</u></h1>
<table border="1" align="center" style="height: 100px; width:500px;">
    <tr style="color: red; text-align: center;" >
        <th>Fine id</th>
        <th>Fine Date</th>
        <th>Fine Amount</th>
        
       
    </tr>
    {% for x in fine %} 
    <tr>
   
    
        <th>{{x.fine_id}}</th>
        <th>{{x.fine_date}}</th>
        <th>{{x.fine_amount}}</th>
   
    </tr>
    {% endfor %}
    
   
   

</table>
</body>
</html>