<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Admin Page{% endblock %}</title>
  </head>
  <body>
    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    
    <header>
      <h1>Admin </h1>
      {% if user.is_authenticated %}
        <h2><a href="{% url 'logout_page' %}">logout</a></h2>
      {% else %}
        <a href="{% url 'admin_login' %}">login</a> / <a href="{% url 'admin_signup' %}">signup</a>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>